body {
    background-color: rgb(160, 255, 104);
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

.add-task input {
    padding: 8px;
    width: 60%;
    margin-bottom: 10px;
}

.add-task button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.tasks {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
    color: #999;
}